<div id="login"><h1>Log Into  </h1>
<form action= 'login' method="POST">
<p>
<label for='username'>Username: </label>
<input type='text' name='username' id='username'></p>
<p>
<label for='password'>Password: </label>
<input type='password' name='password'></p>
<input type='submit' value='LOG IN'>

</form>
</div>
<div id="loginpic"><img src="images/login.jpg" alt="whiskey_pic"></div>