<div id="createwrap">
<div id="create">
<h1>Create an Account: </h1>
<h6>Create a Username and Password to Create Account</h6>
<form method="POST" action="/signup">
<p>
<label for="username">Username: </label>
<input type="text" name="username"></p>
<p>
<label for="password">Password: </label>
<input type="password" name="password">
</p>
<input type="submit" value="Create Account">

</form>
<p>Already Have an Account?</p>
<button><a href="/login">Login</a></button>
</div>
<div id="createpic"><img src="images/signup.jpg" alt="whiskey_pic"></div>
</div>

