<div id="wnew">
<h1>Add a new Whiskey</h1>
<form method="POST" action="/whiskeys">
<p>
<label for="name">Name: </label></br>
<input type="text" name="name"></p>
<p>
<label for="description">Description: </label></br>
<textarea name="description"></textarea></p>
</p>
<p>
<label> Which Distillery does this Whiskey belong to? </label>
  <select name="distillery_id">
    <% current_user.distilleries.each do |distillery| %>
      <option value=<%=distillery.id %>><%= distillery.name %></option>
    <% end %>
  </select>
</p>

<input type="submit" value="Create Whiskey">
</form></br>
<h3>Can't Find the Distillery your looking for?</h3></br>
<button><a href='../distilleries/new'>Add Distillery</a></button>
</div>