<h1>Add a new Distillery</h1>
<form method="POST" action="/distilleries">
<p>
<label for="name">Name: </label>
<input type="text" name="name"></p>
<p>
<p>
<label for="about">About: </label>
<textarea name="about"></textarea></p>
<p>

<input type="submit" value="Create Distillery">

<form>