<header><img src="images/logo.png" alt="whiskey_pic">

</header>
<div class="new"><img src="images/newimage.png" alt="whiskey_pic"></div>
<main><h4><a href='/login'>Log In</a></h4>
<h4><a href='/signup'>Sign Up</a></h4></main>
<article><img src="images/mainpic.jpeg" alt="whiskey_pic">
<img src="images/newmain.jpg" alt="outside_pic">
</article>
<aside><img src="images/background2.jpg" alt="outside_pic"></aside>
